doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic',rel='stylesheet',type='text/css')
  body
    div.header
      h1="Code Critic"
    block content