body {
  padding: 50px;
  color: #51585e;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  color: #777;
}

.bg-light {
  background-color: #f8f9fb;
}

.bg-dark {
  background-color: #1d232b;
}

.header {
  background-color: #1d232b;
  color: #fff;
  padding: 1em;
  text-transform: uppercase;
}

form {
  padding: 1em;
  margin: 1em;
}

input {
  padding: 1em;
  margin: 1em;
  width: 30em;
}

label {
  display: block;
  width: 30em;
}

button.btn-big {
  padding: 1em;
  margin: 1em;
  background-color: #1d232b;
  color: #fff;
}

.rating {
  border-radius: 5px;
  width: 2em;
}

.big-rating {
  padding: 1em;
  font-weight: bold;
}

.rating-5 {
  background-color: #005C00;
  color: #fff;
}

.rating-4 {
  background-color: #54B554;
  color: #fff;
}

.rating-3 {
  background-color: #E6B800;
  color: #fff;
}

.rating-2 {
  background-color: #FF9900;
  color: #fff;
}

.rating-1 {
  background-color: #660000;
  color: #fff;
}

.container {
  padding: 1em;
}

table {
  width: 100%;
}

tr {
  width: 100%;
}

th, td {
  border-bottom: #ccc 1px dotted;
  border-right: #ccc 1px dotted;
  padding: 0.25em;
  text-align: left;
}

h2 {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

section.summary {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 2px dotted #ccc;
}


.tile {
  padding: 1em;
  margin: 0.5em;
  width: 10em;
  display: inline-block;
  font-size: 1.5em;
  color: #fff;
  background-color: #0099CC;
}

.source-code {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 1em; 
}
/*
.source-code li {
  padding: 0 1em;
  border-bottom: 1px solid #eee;
}
*/

.syntaxhighlighter .line.alt1.highlight, 
.syntaxhighlighter .line.alt2.highlight {
  background-color: #444;
}

.error-msg {
  color: #c7254e;
  background-color: #f9f2f4;
  padding: 5px;
  margin: 5px;
}